@import "_variables.css";

@font-face {
  font-family: 'GowunBatang';
  src: url('/public/fonts/GowunBatang-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunBatang';
  src: url('/public/fonts/GowunBatang-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: GowunBatang, Arial, Helvetica, sans-serif;
  top: 0;
  margin: 0;
}


/* Desktop */
@media (min-width: 769px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
